.tableHeader {
    background: #f1f1f1;
    overflow: hidden;
    width: 100%;
}
.tableHeader tr th {
    border-right: 1px #ebeef5 solid;
    border-bottom: 1px #ebeef5 solid;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
}    
.tableHeader table {
    border-collapse:separate;
    table-layout: fixed;
}